.argument {
    height: 20px;
}
.tools {
    width: 30px;
    height: 30px;
}
.tools img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#main {
    border: 4px double black;
    cursor: default;
}
#toolbar {
    border: 2px dashed grey;
    float: right;
    z-index: 1;
}